.footer {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  z-index: 1;
  align-items: center;
}

.wolox-icon-footer {
  height: 60px;
  margin-top: 10px;
  width: 100%;
}

.text-footer {
  align-self: center;
  color: $white;
  font-size: $text-big;
  font-weight: lighter;
  width: 100%;
}

.footer-main {
  //align-self: center;
  //justify-content: center;
  text-align: center;
  width: 100%;
}

.copy-r {
  align-self: flex-end;
  color: $white;
  font-size: $text-small;
  font-weight: lighter;
  margin: 20px;
  text-align: end;
  width: 100%;  
}
