.navbar {
  align-items: center;
  background-color: $white;
  box-shadow: 2px 3px 3px rgba($grey, 0.3);
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.wolox-logo {
  height: $nav-logo-height;
  padding-left: 30px;;
}

.text-nav {
  font-size: $text-big;
  padding-right: 30px;
}
