.navbar {
  background-color: $white;
  box-shadow: 7px 7px 5px $grey;
  display: flex;
  height: $nav-height;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.wolox-logo {
  align-self: center;
  height: $nav-logo-height;
  justify-items: center;
  margin-left: 30px;;
}

.text-nav {
  display: flex;
  font-size: $text-big;
  margin: 30px;
  align-self: center;
  width: 100%;
  justify-content: flex-end;
}


