.bold {
  font-weight: bold;
}

.image-icon {
  align-self: center;
  height: $tech-logo-size;
  justify-content: center;
  max-height: 50%;
  max-width: 50%;
}

.tech {
  background-color: $green;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  margin: 15px;
  padding-bottom: 30px;
  padding-top: 10px;
  position: relative;
  text-align: center; 
  width: 250px;
}

.tech::before {
  border: 2px solid $green;
  border-radius: 10px;
  content: "";
  height: 100%;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 100%;
  z-index: -1; 
}
  
.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 200px 20px 120px;
}

.text {
  font-size: $text-medium;
  margin: 10px 30px 10px 30px;
}
