.bold {
  font-weight: bold;
}

.image-icon {
  height: $tech-logo-size;
  width: auto;
}

.tech {
  background-color: $green;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  margin: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  position: relative;
  text-align: center; 
  width: 230px;

  &::before {
    border: 2px solid $green;
    border-radius: 10px;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: -1;  
  }    
}

.text {
  font-size: $text-medium;
  margin: 10px 20px 10px 20px;
}
