.title {
  background: url('./assets/triangle.svg') no-repeat;
  color: $black;
  font-size: $text-big;
  height: $title-decoration-height;
  margin: 120px 60px 30px 120px;
  padding: 40px 0 0 50px;
  width: 100%;
}
