@import '../../../variables';

.auth-nav {
  align-items: center;
  box-shadow: 3px 3px 3px rgba($grey, 0.3);
  border-top: 3px solid $blue;
  display: flex;
  justify-content: space-around;

  .auth-title {
    display: flex;
    flex-direction: column; 
    justify-items: center;
    text-align: center;
      
    .auth-img {
      padding-top: 5px;
      height: 25px;;
    }

    .auth-text-title {
      font-family: $register-font;
      font-size: $text-small;
    }
  }
}

.logout {
  font-size: $text-small;
  font-weight: 500;
}
