@import 'src/variables';

.auth-nav {
  align-items: center;
  box-shadow: 3px 3px 3px rgba($grey, 0.3);
  border-top: 3px solid $blue;
  display: flex;
  justify-content: space-between;
  padding: 0 250px;

  .auth-title {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 10px;

    .auth-img {
      height: 20px;;
    }

    .auth-text-title {
      font-family: $register-font;
      font-size: $text-small;
    }
  }

  .logout {
    font-size: $text-small;
    font-weight: 600;
  }
}
