<div  (click)="toBookList()" class="main-page">
        <div class="book-detail">
            <img class="img" src="{{img}}" alt="">
            <div class="info">
                <div class="title">
                    <h1 class="name">{{name}}</h1>
                    <h3 class="value">({{genere}})</h3>
                </div>
                <div class="atribute">Book author: <h3 class="value">{{author}}</h3></div>
                <div class="atribute">Publisher: <h3 class="value">{{publisher}}</h3></div>
                <div class="atribute">Year of publication: <h3 class="value">{{year}}</h3></div>
            </div>
        </div>
    </div>
    