<div class="main-page">
    <div class="register">
      <div class="register-title">
        <img class="register-img" src="assets/wolox_logo.svg" alt="wolox-logoin">
        <h1 class="register-text-title">Books</h1>
      </div>
      <form [formGroup]="form" (ngSubmit)="singUp(form.value)" class="register-form">
        <p class="input-title">First name</p>
        <input class="register-input" formControlName="firstName" type="text">
        <p class="input-title">Last name</p>
        <input class="register-input" formControlName="lastName" type="text">
        <p class="input-title">Email</p>
        <input class="register-input" formControlName="email" type="text">
        <p class="input-title">Password</p>
        <input class="register-input" formControlName="password" type="password">
        <div class="sing-up-div">
          <button class="register-input sing-up-button" type="submit">Sing up</button>
        </div>
      </form>
      <div class="register-button-div">
        <button [routerLink]="['/login']" class="register-input register-button" type="button">Login</button>
      </div>
    </div>
  </div>
  
  